/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}
* {
	padding: 0;
	margin: 0;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background: darkgray;
	--color-hover: dodgerblue; 
}


/****************/
/* JOUW STYLING */
/****************/

/* navigatie */

header ul {
	display: flex;
	/* het is flexibele content dat niet een vast grid volgt, daarom is Flexbox een betere optie */
}

header img {
	height: 1.3em;
	width: 110%s;
}
/* Eerste navigatie bar */

header ul:nth-of-type(1) {
	background-color: black;
	list-style: none;
	padding: 1em;
	font-size: small;
	justify-self: center;
}

/* Tweede navigatie bar */

header ul:nth-of-type(2) {
	background-color: dimgray;
	list-style: none;
	padding: 1.5em;
	font-size: small;
}

header ul li a {
	text-decoration: none;
	padding: 1.5em;
	color: white;
	font-weight: bold;
	font-style: normal;
	transition: 0.2s;
}

ul:last-of-type li:last-of-type {
	margin-left: auto;
}

header ul li a:hover {
	border-bottom: solid 0.3em;
	border-color: rgb(108, 198, 198);
	background-color: var(--color-hover);
	padding: 1.5em;
}

.background-video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: absolute;
	top: 0;

	z-index: -1;
}

h1 {
	color: transparent;
}

section {
	display: grid;
	grid-template-columns: 40% 40%;
}

article {
	background-color: var(--color-background);
	opacity: 90%;
	padding: 2em;
	margin: 5em 2em 3em 3em;
}

section:first-of-type article:last-of-type {
	background-image: url();
	margin-right: 0;
	margin-left: auto;
	grid-column-start: 4;
}



section h2, a {
	text-transform: uppercase;
	font-style: italic;
}

section h2 {
	margin-bottom: 1em;
	font-size: 300%;
	font-weight: 400;
}

article p {
	padding-bottom: 15px;
	font-weight: light;
}

article a {
	background-color: var(--color-hover);
	color: black;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: 0.2s;
}

div {
	display: flex;
}

section a:hover {
	border-bottom: solid 5px;
	border-color: rgb(108, 198, 198);
	
}

section:last-of-type {
	background-color: transparent;
	color: white;
	opacity: 1;
	text-align: center;
	padding: 0;
	margin: 0;
}

section ul li {
	margin: 1.5em;
	list-style: none;
}

figure {
	display: flex;
	background-color: var(--color-background);
}

figure img {
	width: 50%;
	height: auto;
}

figure h3 {
	color: black;
	font-style: italic;
	font-weight: 100;
}

figure p:first-of-type {
	background-color: black;
}

figcaption {
	text-align: center;
}