/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}
* {
	padding: 0;
	margin: 0;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


header ul {
	display: flex;
	flex-direction: row;
	justify-content: left;
	background-color: dimgray;
	list-style: none;
	padding: 1.5em;
}

header ul li a {
	text-decoration: none;
	margin: 0.5em;
	padding: 0;
	color: white;
	font-weight: bold;
}

header ul li a:hover {
	border-bottom: solid;
	border-color: blue;
	padding: 1em;
	background-color: aqua;
}
